/* スマホだけポップアップを大きくする */
@media (max-width: 600px) {
  .leaflet-popup-content {
    width: 260px !important;
    max-width: 300px !important;
    font-size: 18px;
    line-height: 1.5;
  }

  .leaflet-popup-content button {
    width: 100%;
    padding: 12px 0;
    font-size: 18px;
    margin: 8px 0;
  }

  .leaflet-popup-content-wrapper {
    padding: 12px;
  }
}